<%- include('../includes/header-farmer.ejs') %>
   <!-- Nav Header Component Start -->
   <div class="iq-navbar-header" style="height: 215px;">
      <div class="container-fluid iq-container">
         <div class="row">
            <div class="col-md-12">
               <div class="flex-wrap d-flex justify-content-between align-items-center">
                  <div>
                     <h1>Hello Farmers,</h1>

                  </div>

               </div>
            </div>
         </div>
      </div>
      <div class="iq-header-img">
         <img src="/assets/images/dashboard/top-header.png" alt="header"
            class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header1.png" alt="header"
            class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header2.png" alt="header"
            class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header3.png" alt="header"
            class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header4.png" alt="header"
            class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header5.png" alt="header"
            class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX">
      </div>
   </div> <!-- Nav Header Component End -->
   <!--Nav End-->
   </div>
   <div class="conatiner-fluid content-inner mt-n5 py-0">
      <div class="row">
         <div class="col-md-12 col-lg-12">
            <div class="row row-cols-1">
               <div class="overflow-hidden d-slider1 ">
                  <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                     <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
                        <a href="/">
                           <div class="card-body">
                              <div class="progress-widget">
                                 <h4 class="card-title">Rent</h4>

                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="800">
                        <a href="/lender-form">
                           <div class="card-body">
                              <div class="progress-widget">
                                 <h4 class="card-title">Lease</h4>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="900">
                        <a href="/market-place">
                           <div class="card-body">
                              <div class="progress-widget">
                                    <h4 class="card-title">Marketplace</h4>
                              </div>
                           </div>
                        </a>
                     </li>



               </div>
            </div>
         </div>
         <div class="card" data-aos="fade-up" data-aos-delay="500">
            <!-- <div class="text-center card-body d-flex justify-content-around">
       <div>
          <h2 class="mb-2">Items on rent</h2>
          <p class="mb-0 text-gray"></p>
       </div> -->
         </div>
      </div>

      <div class="header-title">
         <a href="">
            <h4 class="card-title">Storage Houses</h4>
         </a>
         <p class="mb-0"></p>
      </div>
      <div class="row">
         <div class="col-md-12 col-lg-12">
            <div class="row row-cols-1">
               <div class="overflow-hidden d-slider1 ">
                  <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                     <% rentItems.forEach((rentItem)=>{ %>
                        <% if(rentItem.itemCategory == "storageHouse"){ %>

                           <li class="swiper-slide card card-slide" style="width: 18rem;">
                              <img src="/uploads/<%=rentItem.rentItemPhoto%>" class="card-img-top" alt="...">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    <%=rentItem.rentName%>
                                 </h5>
                                 <p class="card-text">
                                    Rental Price (Per day): <%=rentItem.rentPerDay%><br>
                                       Deposit: 1000<br>
                                       Owner: Satyam Bhambid
                                 </p>
                                 <a href="/view-item/<%=rentItem._id%>" class="btn btn-primary">More</a>
                                 <a href="/ask-rent-form/<%=rentItem._id%>" class="btn btn-success">Rent</a>
                              </div>
                           </li>
                        <% } %>
                           <% }) %>
      
               </div>
            </div>
         </div>

      <!-- <div class="col-md-12 col-lg-8">
      <div class="row">
         <div class="col-md-12">
            <div class="card" data-aos="fade-up" data-aos-delay="800">
               <div class="flex-wrap card-header d-flex justify-content-between align-items-center"> -->
      <div class="header-title">
         <a href="">
            <h4 class="card-title">Small Tools</h4>
         </a>
         <p class="mb-0"></p>
      </div>
      <div class="row">
         <div class="col-md-12 col-lg-12">
            <div class="row row-cols-1">
               <div class="overflow-hidden d-slider1 ">
                  <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                     <% rentItems.forEach((rentItem)=>{ %>
                        <% if(rentItem.itemCategory == "tools"){ %>

                           <li class="swiper-slide card card-slide" style="width: 18rem;">
                              <img src="/uploads/<%=rentItem.rentItemPhoto%>" class="card-img-top" alt="...">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    <%=rentItem.rentName%>
                                 </h5>
                                 <p class="card-text">
                                    Rental Price (Per day): <%=rentItem.rentPerDay%><br>
                                       Deposit: 1000
                                       <br>
                                       Owner: Satyam Bhambid
                                 </p>
                                 <a href="/view-item/<%=rentItem._id%>" class="btn btn-primary">More</a>
                                 <a href="/ask-rent-form/<%=rentItem._id%>" class="btn btn-success">Rent</a>
                              </div>
                           </li>
                        <% } %>
                           <% }) %>

               </div>
            </div>
         </div>

         <div class="header-title">
            <a href="">
               <h4 class="card-title">Machinaries</h4>
            </a>
            <p class="mb-0"></p>
         </div>
         <div class="row">
            <div class="col-md-12 col-lg-12">
               <div class="row row-cols-1">
                  <div class="overflow-hidden d-slider1 ">
                     <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                        <% rentItems.forEach((rentItem)=>{ %>
                        <% if(rentItem.itemCategory =="machinery"){ %>

                           <li class="swiper-slide card card-slide" style="width: 18rem;">
                              <img src="/uploads/<%=rentItem.rentItemPhoto%>" class="card-img-top" alt="...">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    <%=rentItem.rentName%>
                                 </h5>
                                 <p class="card-text">
                                    Rental Price (Per day): <%=rentItem.rentPerDay%><br>
                                       Deposit: 1000<br>
                                       Owner: Satyam Bhambid
                                 </p>
                                 <a href="/view-item/<%=rentItem._id%>" class="btn btn-primary">More</a>
                                 <a href="/ask-rent-form/<%=rentItem._id%>" class="btn btn-success">Rent</a>
                              </div>
                           </li>
                        <% } %>
                           <% }) %>
                    

                  </div>
               </div>
            </div>

            <div class="header-title">
               <a href="">
                  <h4 class="card-title">Attachments</h4>
               </a>
               <p class="mb-0"></p>
            </div>
            <div class="row">
               <div class="col-md-12 col-lg-12">
                  <div class="row row-cols-1">
                     <div class="overflow-hidden d-slider1 ">
                        <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                           <% rentItems.forEach((rentItem)=>{ %>
                              <% if(rentItem.itemCategory == "attachments"){ %>
      
                                 <li class="swiper-slide card card-slide" style="width: 18rem;">
                                    <img src="/uploads/<%=rentItem.rentItemPhoto%>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">
                                          <%=rentItem.rentName%>
                                       </h5>
                                       <p class="card-text">
                                          Rental Price (Per day): <%=rentItem.rentPerDay%><br>
                                             Deposit: 1000<br>
                                             Owner: Satyam Bhambid
                                       </p>
                                       <a href="/view-item/<%=rentItem._id%>" class="btn btn-primary">More</a>
                                       <a href="/ask-rent-form/<%=rentItem._id%>" class="btn btn-success">Rent</a>
                                    </div>
                                 </li>
                              <% } %>
                                 <% }) %>



                     </div>
                  </div>
               </div>
             
            </div>
      
            <%- include('../includes/footer-farmer.ejs') %>